<div class="siimple-card siimple-grid">
    <div class="siimple-card-body siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12 siimple--text-center">
            <img src="https://place-hold.it/50x75" alt="">
            <p class="siimple-p">{{ player.firstname }} {{ player.lastname }}</p>
            <p class="siimple-small">POSTE</p>
        </div>
        <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12">
            <div class="siimple-grid-col siimple-grid-col--6  siimple--text-center">
                <p>Toulouse</p>
                <button type="button" class="siimple-btn siimple-btn--grey"
                    (click)="addToBasket({id: 'toulouse', bet: 3.45})">3.45</button>
            </div>
            <div class="siimple-grid-col siimple-grid-col--6 siimple--text-center">
                <p>R92</p>
                <button type="button" class="siimple-btn siimple-btn--grey"
                    (click)="addToBasket({id: 'R92', bet: 2.11})">2.11</button>
            </div>
        </div>
    </div>
</div>